.game {
  display: flex;
  height: 100vh;
  padding: 20vh 0;
  flex-grow: 1;
  background: #344355;

  & > div {
    display: flex;
    justify-content: space-around;
  }

  &-info {
    width: 60%;
    border-left: 2px solid #66CDA3;
    padding-left: 15px;

    .status {
      font-size: 24px;
      margin-bottom: 10px;
      color: #F9AA33;
      padding-top: 5px;
    }

    ul > li {
      color: #F9AA33;
      font-size: 14px;
      font-weight: bold;
      transition: color ease-in-out .3s;

      &:first-child {
        color: greenyellow;
      }

      &:hover {
        color: #FFF;
      }

      button {
        border: none;
        background: none;
        outline: none;
        color: inherit;
      }
    }
  }

  &-board {
    text-align: right;
    width: 40%;
    padding-right: 15px;
    margin-top: 15px;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

